<div>
  <h2>
    <%= restaurant.name %>
  </h2>
  <p><strong>
    <%= restaurant.category %>
  </strong></p>

  <p>
    <%= restaurant.address %>
  </p>

  <p>
    <%= restaurant.phone_number %>
  </p>

</div>
